[Unit]
Description=Flinkbot Server
After=network.target

[Service]
Type=simple
User=flinkbot
Group=flinkbot
Restart=on-failure
WorkingDirectory=/home/flinkbot/app/service
ExecStart=/usr/bin/php server.php
TasksMax=300
CPUAccounting=true
CPUQuota=75%
MemoryAccounting=true
MemoryMax=3072M
StandardOutput=file:/home/flinkbot/app/logs/output.log
StandardError=file:/home/flinkbot/app/logs/error.log

[Install]
WantedBy=multi-user.target
